@function color-darken($color, $val) {
    $darken : darken($color, $val);
    @return $darken;
}

@function color-lighten($color, $val) {
    $lighten : lighten($color, $val);
    @return $lighten;
}

.btn-menu {
    padding: 5px 50px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-paket {
    width: 100%;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    background-color: color-lighten(c.$primary-color, 1%);

    &:hover {
        color: #ffff;
        background-color: color-darken(c.$primary-color, 10%);
    }
}

.btn-pesan {
    border: none;
    border-radius: 5px;
    background-color: color-lighten(c.$primary-color, 1%);

    &:hover {
        color: #ffff;
        background-color: color-darken(c.$primary-color, 5%);
    }
}