body {
    font-family: roboto, sans-serif;
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}
.outer-box {
    width: 95%;
    margin: 20px auto;
    background-color: orange;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inner-box {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: orange;
}

.img {
    float: left;
    width: 320px;
    height: auto;
    margin: 30px;
}
h2 {
    color: orange;
}

p {
    font-size: 24px;
    margin-right: 30px;
    text-align: justify;
}
.p1 {
    text-align: center;
    color:  black;
    font-size: 16px;
}
.p2 {
    font-size: 14px;
    margin-right: 5px;
}
li {
    text-align: center;
    font-size: 16px;
    margin: 30px;
    color: black;
}
.card {
    width: 200px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

