* {
    margin: 0;
    padding: 0;
}

header.site-navbar {
    background-color: #FFBB5C; /* Ganti warna latar belakang header sesuai keinginan */
    color: black; /* Warna teks header */
    padding: 15px 0;
}

.site-logo {
    display: flex; /* Menggunakan flexbox */
    align-items: center; /* Sejajarkan elemen vertikal */
}

.site-logo img {
    height: 50px;
    width: 50px;
    margin-right: 10px; /* Jarak antara gambar dan teks */
}

.site-logo a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.site-navigation {
    text-align: right; /* Menggeser teks menu ke kanan */
    margin-left: 0; /* Menghapus margin kiri */
}

.site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 0; /* Menghapus margin kanan */
}

.site-navigation ul li {
    display: inline-block;
    margin-left: 10px; /* Jarak antara setiap item menu */
}

.site-navigation a {
    color: black; /* Warna teks menu */
    text-decoration: none;
    font-weight: bold;
}

/* Media query untuk perubahan tampilan pada perangkat seluler */
@media (max-width: 768px) {
    .site-logo {
        margin-right: 0; /* Hilangkan jarak logo pada layar seluler */
    }

    .site-navigation {
        text-align: center; /* Pusatkan menu pada layar seluler */
    }

    .site-navigation ul {
        display: block;
        text-align: center;
        margin-right: 0; /* Hilangkan margin pada layar seluler */
    }

    .site-navigation ul li {
        margin: 10px 0; /* Beri jarak vertikal antara item menu pada layar seluler */
    }
}