@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* Gaya untuk Navbar */
.navbar {
    background-color: #FFBB5C; 
    border-bottom: 2px solid #FFBB5C;
    position: fixed; /* Membuat navbar tetap */
    top: 0; /* Menempatkan navbar di bagian atas */
    width: 100%; /* Lebar 100% */
    z-index: 1000; /* Menempatkan navbar di atas konten */
    display: flex;
    justify-content: space-between;
    padding: 10px 0; /* Mengatur jarak atas dan bawah */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-size: 20px; /* Ukuran teks logo */
    font-weight: bold; /* Ketebalan teks logo */
    color: black;
}

.navbar-nav {
   margin: 0;
   margin-left: auto;
}

.nav-item {
    margin-right: 10px; /* Jarak antar item menu */
}

#navbarCustom .navbar-nav .nav-link {
    color: black !important;
}

#navbarCustom .navbar-nav .nav-link:hover {
    color: white !important;
}

#navbarCustom .navbar-nav .nav-item.active .nav-link {
    color: white !important;
}

.nav-link {
    color: black;
    font-weight: bold; /* Teks tebal */
    transition: color 0.3s; /* Efek transisi warna saat dihover */
}

.nav-link:hover {
    color: white;
    font-weight: bold; /* Membuat teks tebal saat dihover */
}

/* Style hero */

.background {
    background-image: url('../assets/banner_hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background .row {
    display: flex;
    background-color: rgba(255, 255, 255, 0.693);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 70px;
}

h1.judul {
    color: black;
    font-weight: bold;
}

.btn {
    color: white;
    font-weight: bold;
    background-color: #E25E3E;
}

.custom-container {
    background-color: #FFBB5C;
    border-radius: 20px;
    padding: 20px;
    margin: 0 100px; /* Margin di sisi kiri dan kanan */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-weight: bold;
}

p.card-text {
    font-size: 16px;
}

@media (min-width: 576px) {
    .card {
        width: calc(50% - 20px);
    }

    .card:nth-child(4),
    .card:nth-child(5) {
        width: calc(50% - 20px);
    }
}

@media (min-width: 992px) {
    .card {
        width: calc(33.33% - 20px);
    }

    .card:nth-child(4),
    .card:nth-child(5) {
        width: calc(33.33% - 20px);
    }
}

/* Custom Section About CSS */
.custom-section {
    padding: 60px 0;
}

.custom-section h2 {
    font-weight: bold;
}

.custom-section a {
    font-weight: bold;
    color: #E25E3E;
    text-decoration: none;
}

.custom-section a:hover {
    color: black; /* Warna yang berubah saat dihover */
}

.custom-hello {
    margin-left: 80px;
}

.custom-hello p {
    padding-top: 18px;
}

.custom-card {
    background-color: #E25E3E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.custom-card h3 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.custom-card ul {
    list-style: none;
    padding: 0;
}

.custom-card li {
    text-align: center;
}

.custom-card .btn {
    background-color: green;
    color: white;
}

.custom-card .btn:hover {
    background-color: white; /* Warna latar belakang yang berubah saat dihover */
    color: green;
}

/* Pilihan Lain */

h2.subtitle {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 18px;
}
.rounded-card {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Membuat card menjadi bulat */
    overflow: hidden; /* Menghilangkan sudut-sudut card yang terlihat di luar border-radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan pada card */
    background-color: #E25E3E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.rounded-card img {
    width: 80%;
    height: 80%;
    object-fit: contain; /* Gambar akan memenuhi seluruh area card */
}

.rounded-card-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Jarak antara card dan teks di bawahnya */
}

.rounded-card-title {
    font-weight: bold;
    padding-left: 80px;
    padding-right: 80px;
    color: #E25E3E;
}

/* Gaya untuk Footer */
.footer {
    background-color: #FFBB5C; 
    color: rgb(0, 0, 0); 
    padding: 30px 0; /* Jarak dalam footer */
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Menyusun elemen di footer secara horizontal */
    align-items: center; /* Pusatkan elemen vertikal di dalam footer */
}

.footer h6 {
    color: black;
    font-weight: bold; 
}

.footer p {
    color: black;
}

/* Copyright Section */
.footer-copyright {
    text-align: center;
    background-color: #FFBB5C;
    padding: 10px 0;
}

.footer-line {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black; /* Customize the line's appearance */
}

/* Copyright text styling */
.footer-copyright p {
    color: rgb(107, 104, 104);
    font-weight: bold;
    text-align: center;
}

/* Style Contact */
.container-contact{
    background-color: #FFBB5C; /* Ganti warna latar belakang header sesuai keinginan */
    color: black; /* Warna teks header */
    width: 99%;
    border-radius: 10px;
    margin: 3px 3px;
}

.card-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 80px;
    padding: 30px 0;
    border-radius: 10px;
    width: 500px;
}

.col.card-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Ini untuk mengatur teks menjadi tengah */
  }
  
  .contact-text {
    margin-top: 10px; /* Sesuaikan dengan jarak yang Anda inginkan antara gambar dan teks */
    font-weight: 500;
    font-weight: bold;
  }
  
/*About */


.outer-box-about {
    width: 95%;
    margin: 20px auto;
    background-color: #ffbb5c;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inner-box-about {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ffbb5c;
}
.inner2-box-about {
    background-color: #ffbb5c;
    padding: 2px;
    border-radius: 5px;
    margin-left: 280px;
    margin-right: 35px;
    color: #ff9b50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-about {
    float: left;
    width: 240px;
    height: auto;
    margin-top: 25px;
    margin-left: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.h1-about {
    font-weight: bold;
    text-align: center;
}
.h2-about {
    color: #ffbb5c;
    font-size: 20px;
    font-weight: bold;
}

.p3 {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 10px;
    text-align: justify;
    color:  #fff;
}
.p1 {
    text-align: center;
    color:  black;
    font-size: 16px;
}
.p2 {
    font-size: 14px;
    margin-right: 5px;
    color: black;
}
.li-about {
    text-align: center;
    font-size: 16px;
    margin: 30px;
    color: black;
}
.card-about {
    text-align: center;
    width: 200px;
    margin-left: 185px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}

.card-about img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


