@use "font";

$primary-color: #FFBB5C;
$secondary-color: #E25E3E;
$third-color: white;
$fourth-color: black;
$five-color: green;

// Hero
.background {
    background-image: url('../img/banner_hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .row {
        display: flex;
        background-color: rgba(255, 255, 255, 0.693);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 70px;
    }

    h1.judul {
        color: $fourth-color;
        font-weight: bold;
    }

    .btn {
        color: $third-color;
        font-weight: bold;
        background-color: $secondary-color;
    }
  
}  

// Section About
.custom-section {
    padding: 60px 0;
  
    h2 {
      font-weight: bold;
      position: relative;
      display: inline-block;
  
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: -10%;
        bottom: -10px;
        height: 5px;
        background-color: $secondary-color;
        transition: width 0.3s, background-color 0.3s;
      }
  
      &:hover::after {
        width: 100%;
        background-color: $five-color;
      }
    }
  
    a {
      font-weight: bold;
      color: $secondary-color;
      text-decoration: none;
  
      &:hover {
        color: $fourth-color;
      }
    }
  }
  
  .custom-hello {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
  
    p {
      padding-top: 18px;
      text-align: justify;
    }
  }
  
  .custom-card {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
    h3 {
      color: $third-color;
      font-weight: bold;
      text-align: center;
  
      i {
        margin-right: 15px;
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  
    .btn {
      background-color: $five-color;
      color: $third-color;
  
      &:hover {
        background-color: $third-color;
        color: $five-color;
      }
    }
  }
  
  .btn-custom i {
    padding-right: 8px;
  }
  
  @media (max-width: 992px) {
    .custom-card {
      width: 80%;
      margin: 0 auto;
    }
  }

// Alasan Kenapa
// Mixin untuk custom-container
@mixin custom-container {
    background-color: #FFBB5C;
    border-radius: 20px;
    padding: 20px;
    margin: 0 100px; 
  }
  // Mixin untuk media query card
  @mixin card-width($width) {
    width: calc(#{$width} - 20px);
  }
  
  // Mixin untuk mengatur ulang card-container
  @mixin reset-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .custom-container {
    @include custom-container;
  }
  
  .card-container {
    @include reset-card-container;
  }
  
  .title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card {
    width: 100%;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
  
    &-title {
      font-weight: bold;
    }
  
    p.-text {
      font-size: 16px;
    }
  
    &-icon {
      font-size: 48px; 
      margin-bottom: 10px; 
      color: #f6671f; 
    }
  
    @media (min-width: 576px) {
      @include card-width(50%);
    }
  
    &:nth-child(4),
    &:nth-child(5) {
      @media (min-width: 576px) {
        @include card-width(50%);
      }
    }
  
    @media (min-width: 992px) {
      @include card-width(33.33%);
    }
  
    &:nth-child(4),
    &:nth-child(5) {
      @media (min-width: 992px) {
        @include card-width(33.33%);
      }
    }
  }
  
  @media (max-width: 576px) {
    .custom-container {
      margin: 0 15px;
      width: auto; 
      border-radius: 0; 
      padding: 10px; 
    }
  }
  
//   Section Menu
@function card-background-color($index) {
    $colors: (#f6671f, #c01b1c);
    @return nth($colors, $index);
  }

  @function button-text-color($hover: false) {
    @if $hover {
      @return #f6671f;
    } @else {
      @return white;
    }
  }
  
  .container-menu {
    background-color: #ea9826;
    margin-top: 25px;
  }
  
  .card-coloum {
    display: flex;
    justify-content: center;
    background-color: #ea9826;
  
    .card-menu {
      margin: 20px;
      border-radius: 10px;
      background-color: #ffffff;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  
      .card-count-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        padding: 20px 0px;
      }
  
      .card-count {
        font-weight: bold;
        font-size: 38px;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: auto;
        margin-right: -50px;
        padding-right: 25px;
        overflow: hidden;
        color: #ffffff;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
  
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
          transition: transform 0.2s, box-shadow 0.2s;
        }
      }
  
      .card-content {
        padding: 20px;
        padding-top: 0px;
  
        > h2 {
          margin-top: 0px;
          text-align: center;
        }
      }
  
      .card-footer {
        padding: 20px;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        background-image: linear-gradient(90deg, card-background-color(1), card-background-color(2));
      }
  
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        .card-count,
        .card-footer {
          background-image: linear-gradient(90deg, card-background-color(1), card-background-color(2));
        }
      }
  
      &:hover {
        .card-count {
          width: 100px;
          height: 100px;
        }
      }
    }
  
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  
  .button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  
    .btn-custom {
      background-color: #f6671f;
      color: button-text-color();
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
  
      &:hover {
        background-color: button-background-color(true);
        color: button-text-color(true);
      }
    }
  }
  
  .card-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .container-menu h2 {
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 40px;
  }
  
  .container-menu i.fa-star {
    background: linear-gradient(90deg, #f6671f, #c01b1c);
    -webkit-background-clip: text;
    color: transparent;
  }
  
