/* Error: Undefined variable.
 *     ,
 * 169 | @for $i from 1 through length($menu-items) {
 *     |                               ^^^^^^^^^^^
 *     '
 *   assets\scss\styles_order.scss 169:31  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 169 \2502  @for $i from 1 through length($menu-items) {\d\a     \2502                                ^^^^^^^^^^^\a     \2575 \a   assets\\scss\\styles_order.scss 169:31  root stylesheet";
}
