@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #FFBB5C;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Style Navbar */
.navbar {
    background-color: #FFBB5C;
    border-bottom: 2px solid #FFBB5C;
    position: fixed;
    /* Membuat navbar tetap */
    top: 0;
    /* Menempatkan navbar di bagian atas */
    width: 100%;
    /* Lebar 100% */
    z-index: 1000;
    /* Menempatkan navbar di atas konten */
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    /* Mengatur jarak atas dan bawah */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-size: 20px;
    /* Ukuran teks logo */
    font-weight: bold;
    /* Ketebalan teks logo */
    color: black;
}

.navbar-nav {
    margin: 0;
    margin-left: auto;
}

.nav-item {
    margin-right: 10px;
    /* Jarak antar item menu */
}

#navbarCustom .navbar-nav .nav-link {
    color: black !important;
}

#navbarCustom .navbar-nav .nav-link:hover {
    color: white !important;
}

#navbarCustom .navbar-nav .nav-item.active .nav-link {
    color: white !important;
}

.nav-link {
    color: black;
    font-weight: bold;
    /* Teks tebal */
    transition: color 0.3s;
    /* Efek transisi warna saat dihover */
}

.nav-link:hover {
    color: white;
    font-weight: bold;
    /* Membuat teks tebal saat dihover */
}

/* Style hero */

.background {
    background-image: url('../assets/banner_hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background .row {
    display: flex;
    background-color: rgba(255, 255, 255, 0.693);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 70px;
}

h1.judul {
    color: black;
    font-weight: bold;
}

.btn {
    color: white;
    font-weight: bold;
    background-color: #E25E3E;
}

/* Style Section About */
.custom-section {
    padding: 60px 0;
}

.custom-section h2 {
    font-weight: bold;
    position: relative;
    /* Mengatur posisi relatif untuk elemen */
    display: inline-block;
    /* Membuat elemen menjadi inline block */
}

.custom-section h2::after {
    content: "";
    /* Menambahkan konten di bawah elemen */
    position: absolute;
    /* Mengatur posisi absolut untuk elemen ::after */
    left: 0;
    /* Posisi awal dari kiri */
    right: -10%;
    /* Posisi awal dari kanan */
    bottom: -10px;
    /* Posisi awal dari bawah */
    height: 5px;
    /* Ketebalan garis bawah */
    background-color: #E25E3E;
    /* Warna garis bawah */
    transition: width 0.3s, background-color 0.3s;
}

.custom-section h2:hover::after {
    width: 100%;
    /* Memperlebar garis saat hover */
    background-color: green;
    /* Warna garis berubah saat hover */
}

.custom-section a {
    font-weight: bold;
    color: #E25E3E;
    text-decoration: none;
}

.custom-section a:hover {
    color: black;
    /* Warna yang berubah saat dihover */
}

.custom-hello {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.custom-hello p {
    padding-top: 18px;
    text-align: justify;
}

.custom-card {
    background-color: #E25E3E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.custom-card h3 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.custom-card h3 i {
    margin-right: 15px;
    /* Menambah margin antara ikon dan teks */
}

.custom-card ul {
    list-style: none;
    padding: 0;
}

.custom-card li {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-card .btn {
    background-color: green;
    color: white;
}

.custom-card .btn:hover {
    background-color: white;
    /* Warna latar belakang yang berubah saat dihover */
    color: green;
}

.btn-custom i {
    padding-right: 8px;
}

@media (max-width: 992px) {
    .custom-card {
        width: 80%;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the card horizontally */
    }
}

/* Style Section Alasan Kenapa */

.custom-container {
    background-color: #FFBB5C;
    border-radius: 20px;
    padding: 20px;
    margin: 0 100px;
    /* Margin di sisi kiri dan kanan */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-weight: bold;
}

p.card-text {
    font-size: 16px;
}

.card-icon {
    font-size: 48px;
    /* Ubah ukuran ikon sesuai kebutuhan */
    margin-bottom: 10px;
    /* Menambahkan jarak antara ikon dan judul */
    color: #f6671f;
    /* Ubah warna ikon */
}

@media (min-width: 576px) {
    .card {
        width: calc(50% - 20px);
    }

    .card:nth-child(4),
    .card:nth-child(5) {
        width: calc(50% - 20px);
    }
}

@media (min-width: 992px) {
    .card {
        width: calc(33.33% - 20px);
    }

    .card:nth-child(4),
    .card:nth-child(5) {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 576px) {
    .custom-container {
        margin: 0 15px;
        /* Mengurangi margin kiri dan kanan */
        width: auto;
        /* Biarkan lebar mengikuti lebar kontennya */
        border-radius: 0;
        /* Menghilangkan border-radius agar lebih rapi di perangkat mobile */
        padding: 10px;
        /* Mengurangi padding untuk memberikan lebih banyak ruang */
    }
}

/* Style Section Menu Makanan terbaik */
.container-menu {
    background-color: #ea9826;
    margin-top: 25px;
}

.card-coloum {
    display: flex;
    justify-content: center;
    background-color: #ea9826;

    .card-menu {
        margin: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        .card-count-container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100px;
            padding: 20px 0px;
        }

        .card-count {
            font-weight: bold;
            font-size: 38px;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: auto;
            margin-right: -50px;
            padding-right: 25px;
            overflow: hidden;
            color: #ffffff;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            transition: all 0.2s ease-in-out;
        }

        .card-count:hover {
            transform: scale(1.1);
            /* Menambah efek scaling saat disentuh */
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
            /* Menambah bayangan saat disentuh */
            transition: transform 0.2s, box-shadow 0.2s;
            /* Mengatur durasi animasi */
        }

        .card-content {
            padding: 20px;
            padding-top: 0px;

            >h2 {
                margin-top: 0px;
                text-align: center;
            }
        }

        .card-footer {
            padding: 20px;
            color: #ffffff;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }

        &:nth-child(1) {

            .card-count,
            .card-footer {
                background-image: linear-gradient(90deg, #f6671f, #c01b1c);
            }
        }

        &:nth-child(2) {

            .card-count,
            .card-footer {
                background-image: linear-gradient(90deg, #f6671f, #c01b1c);
            }
        }

        &:nth-child(3) {

            .card-count,
            .card-footer {
                background-image: linear-gradient(90deg, #f6671f, #c01b1c);
            }
        }

        &:nth-child(4) {

            .card-count,
            .card-footer {
                background-image: linear-gradient(90deg, #f6671f, #c01b1c);
            }
        }

        &:hover {
            .card-count {
                width: 100px;
                height: 100px;
            }
        }
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

@media (max-width: 1194px) {
    .card-menu {
        width: calc(50% - 20px);
        /* Menampilkan hanya 2 kartu berdampingan */
    }
}

@media (max-width: 767px) {
    .card-menu {
        width: 100%;
    }
}


.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.button-menu .btn-custom {
    background-color: #f6671f;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.button-menu .btn-custom:hover {
    background-color: white;
    color: #f6671f;
}

.card-content img {
    max-width: 100%;
    /* Agar gambar mengisi seluruh lebar kartu */
    height: auto;
    border-radius: 10px;
}

.container-menu h2 {
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.container-menu i.fa-star {
    background: linear-gradient(90deg, #f6671f, #c01b1c);
    -webkit-background-clip: text;
    color: transparent;
}

/* Style Section Melayani */

.container-mt-5 {
    margin-top: 5rem;
    /* Atur margin top sesuai kebutuhan */
}

h2.subtitle {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 18px;
    position: relative;
    /* Tambahkan posisi relatif */
}

h2.subtitle::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    /* Lebar garis bawah */
    height: 5px;
    /* Tinggi garis bawah */
    background-color: #E25E3E;
    /* Warna garis bawah */
}

.rounded-card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #E25E3E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    transition: background-color 0.2s, transform 0.2s ease-in-out;
    /* Transisi untuk perubahan warna latar belakang dan animasi */
}

.rounded-card img {
    width: 55%;
    height: 55%;
    object-fit: contain;
}

.rounded-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.rounded-card-title {
    font-weight: bold;
    padding-left: 20px;
    /* Kurangi padding untuk teks di bawah card */
    padding-right: 20px;
    /* Kurangi padding untuk teks di bawah card */
    color: #E25E3E;
    text-align: center;
    /* Tambahkan alignment center */
}

.rounded-card:hover {
    background-color: #FFBB5C;
    transform: translateY(10px);
    /* Animasi turun dari atas */
}

@media (max-width: 991px) {

    /* Ketika lebar layar kurang dari atau sama dengan 991px (tablet) */
    .rounded-card {
        width: 200px;
        /* Biarkan ukuran card tetap */
        margin: 0 auto;
        /* Tengahkan card di layar tablet */
    }
}

@media (max-width: 768px) {

    /* Ketika lebar layar kurang dari 768px (perangkat mobile) */
    .rounded-card {
        width: 200px;
        /* Biarkan ukuran card tetap */
        margin: 0 auto;
        /* Tengahkan card di layar mobile */
    }
}


/* Style Footer */
.footer {
    background-color: #FFBB5C;
    color: rgb(0, 0, 0);
    padding: 30px 0;
    /* Jarak dalam footer */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* Menyusun elemen di footer secara horizontal */
    align-items: center;
    /* Pusatkan elemen vertikal di dalam footer */
}

.footer h6 {
    color: black;
    font-weight: bold;
}

.footer p {
    color: black;
}

.footer-copyright {
    text-align: center;
    background-color: #FFBB5C;
    padding: 10px 0;
}

.footer-line {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    /* Customize the line's appearance */
}

.footer-copyright p {
    color: rgb(107, 104, 104);
    font-weight: bold;
    text-align: center;
}

/* Style Contact */
.container-contact{
    background-color: #FFBB5C; /* Ganti warna latar belakang header sesuai keinginan */
    color: black; /* Warna teks header */
    width: 100%;
}

.card-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 80px;
    padding: 30px 0;
    border-radius: 10px;
    width: 500px;
}

.col.card-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Ini untuk mengatur teks menjadi tengah */
}

.contact-text {
    margin-top: 10px;
    /* Sesuaikan dengan jarak yang Anda inginkan antara gambar dan teks */
    font-weight: 500;
    font-weight: bold;
}


/* menu */
.wrapper-menu {
    margin: 0 5px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.wrapper-paket {
    margin: 0 5px;
    padding: 10px 0;
    border-radius: 5px;
}

.btn-menu {
    padding: 5px 50px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-paket {
    width: 100%;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    background-color: #FF9B50;
}

/* CSS untuk form pemesanan */

.form-container {
    background-color: #FFBB5C;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        

}

.form-container h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/* CSS untuk tombol "Pesan Sekarang" dalam form pemesanan */
.form-container .btn-primary {
    background-color: #E25E3E;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
}

.form-container .btn-primary:hover {
    background-color: #E25E3E;
}

/* CSS untuk tombol tanpa perubahan warna saat di hover */
.btn-primary:not(.disabled):not([disabled]):active,
.btn-primary:not(.disabled):not([disabled]).active {
    background-color: #E25E3E;
}

.btn-primary:not(.disabled):not([disabled]):active:focus,
.btn-primary:not(.disabled):not([disabled]).active:focus,
.btn-primary:focus {
    box-shadow: none;
    background-color: #E25E3E;
}
/* Gaya untuk Footer */
.footer {
    background-color: #FFBB5C; 
    color: rgb(0, 0, 0); 
    padding: 30px 0; /* Jarak dalam footer */
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Menyusun elemen di footer secara horizontal */
    align-items: center; /* Pusatkan elemen vertikal di dalam footer */
}

.footer h6 {
    color: black;
    font-weight: bold; 
}

.footer p {
    color: black;
}

    /* Gaya untuk pop-up */
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Memberikan latar belakang semi-transparan */
        z-index: 1000; /* Menentukan tingkat tampilan di atas elemen lain */
    }

    #box {
        background-color: #fff; /* Warna latar belakang pop-up */
        width: 300px;
        margin: 20% auto; /* Menengahkan pop-up secara vertikal */
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px #000; /* Efek bayangan pop-up */
    }

    .close {
        float: right;
        margin-top: -10px;
        margin-right: -10px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        font-size: 20px;
        text-decoration: none;
    }

    /* Gaya untuk konten pop-up */
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 8px;
    }

    /* Animasi muncul dan menghilang */
    .popup.show-popup {
        animation: fadeIn 0.5s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }