@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: Poppins, sans-serif;
}

.footer {
  background-color: #FFBB5C;
  color: rgb(0, 0, 0);
  padding: 30px 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer h6 {
  color: black;
  font-weight: bold;
}
.footer p {
  color: black;
}

.footer-copyright {
  text-align: center;
  background-color: #FFBB5C;
  padding: 10px 0;
}
.footer-copyright .footer-line {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
}
.footer-copyright p {
  color: rgb(107, 104, 104);
  font-weight: bold;
  text-align: center;
}

* {
  font-family: "Poppins", sans-serif;
}

.container-mt-5 {
  margin-top: 5rem;
}

/* Style Navbar */
.navbar {
  background-color: #FFBB5C;
  border-bottom: 2px solid #FFBB5C;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.navbar-nav {
  margin: 0;
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

#navbarCustom .navbar-nav .nav-link {
  color: black !important;
}

#navbarCustom .navbar-nav .nav-link:hover {
  color: white !important;
}

#navbarCustom .navbar-nav .nav-item.active .nav-link {
  color: white !important;
}

.nav-link {
  color: black;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.container-contact {
  background-color: #FFBB5C;
  color: black;
  width: 100%;
}

.card-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 80px;
  padding: 30px 0;
  border-radius: 10px;
  width: 500px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.col.card-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-text {
  margin-top: 10px;
  font-weight: 500;
  font-weight: bold;
}

/* Transisi dan animasi saat hover pada class card-contact */
.card-contact:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px white;
}

.btn {
  color: white;
  font-weight: bold;
  background-color: #E25E3E;
}

/* Animasi pada teks saat hover */
.card-contact:hover .contact-text {
  opacity: 1;
}

/* Gaya teks awal (tanpa animasi) */
.contact-text {
  transition: opacity 0.3s ease-in-out;
}

/* Style Footer */
.footer {
  background-color: #FFBB5C;
  color: black;
  padding: 30px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h6 {
  color: black;
  font-weight: bold;
}

.footer p {
  color: black;
}

.footer-copyright {
  text-align: center;
  background-color: #FFBB5C;
  padding: 10px 0;
}

.footer-line {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
}

.footer-copyright p {
  color: rgb(107, 104, 104);
  font-weight: bold;
  text-align: center;
}

.container-contact-1 {
  width: 100px;
}

.container-contact-2 {
  width: 200px;
}

.container-contact-3 {
  width: 300px;
}

.container-contact-4 {
  width: 400px;
}

.container-contact-5 {
  width: 500px;
}

.my-text {
  color: #FFBB5C;
}

/*# sourceMappingURL=style_contact.css.map */
